
.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: contain;
}

/* #fimage{
    width: 1600px;
    height: 500px;
    object-fit: contain;
} */

/* .carousel-item{ */

     
    /* min-height: 300px; */
    /* background: no-repeat scroll center scroll;
    background-size: cover; */
/* } */
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    opacity: 0.3;
}

.carousel-caption{
    bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
}